name: Check run

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'
  workflow_dispatch:

jobs:
  check-run:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: ZAP Scan
      uses: ./
      id: action-full-scan
      with:
        target: 'http://zero.webappsecurity.com/'
        allow_issue_writing: false
